BACKEND_IMAGE=registry.example.com/amagetdon/backend:latest

SPRING_PROFILES_ACTIVE=prod

POSTGRES_HOST=local-postgres
POSTGRES_PORT=5432
POSTGRES_DB=amagetdon
POSTGRES_USER=A507
POSTGRES_PASSWORD="change_me"

REDIS_HOST=local-redis
REDIS_PORT=6379
QUIZ_FORCE_RELOAD=false
