SPRING_PROFILES_ACTIVE=local

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=amagetdon
POSTGRES_USER=A507
POSTGRES_PASSWORD=change_me

REDIS_PORT=6379
SPRING_REDIS_HOST=localhost
SPRING_REDIS_PORT=6379
