SPRING_PROFILES_ACTIVE=prod
IMAGE_TAG=registry.example.com/amagetdon/backend:latest

POSTGRES_HOST=your-rds-endpoint.amazonaws.com
POSTGRES_PORT=5432
POSTGRES_DB=amagetdon
POSTGRES_USER=A507
POSTGRES_PASSWORD=change_me

SPRING_DATASOURCE_URL=jdbc:postgresql://your-rds-endpoint.amazonaws.com:5432/amagetdon
SPRING_DATASOURCE_USERNAME=A507
SPRING_DATASOURCE_PASSWORD=change_me

SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379
SPRING_REDIS_HOST=redis
SPRING_REDIS_PORT=6379
